@using System.Collections.Immutable
@using global::Journal.Util
@using SynesthesiaUtil
@rendermode InteractiveServer
@inject NavigationManager navigation

@code {
    public readonly ImmutableList<Page> Pages = Lists.Immutable
    (
        new Page(Icons.HOME, "Home", Routes.HOME, true),
        new Page(Icons.JOURNAL, "Journal", Routes.JOURNAL, false),
        new Page(Icons.GRAPH, "Trends", Routes.MENTAL_HEALTH_TRACKER, false),
        new Page(Icons.EXPORT, "Export", Routes.EXPORT_DATA, false),
        new Page(Icons.SETTINGS, "Settings", Routes.SETTINGS, false)
    );


    public record Page(string Icon, string Name, string Route, bool Enabled);
}

<nav class="m l bottom surface-container-lowest">
    <header>
        <AuthorizeView>
            <Authorized>
                <a class="button extend square round" href="@Routes.JOURNAL_NEW_ENTRY">
                    <i>@(Icons.ADD)</i>
                    <span>New Day Entry</span>
                </a>
            </Authorized>
        </AuthorizeView>
    </header>

    @foreach (var page in Pages)
    {
        <a href="@(page.Route)" class="@(page.Enabled ? string.Empty : "disabled")">
            <i>@(page.Icon)</i>
            @(page.Name)
        </a>
    }
</nav>
