@using System.Collections.Immutable
@using global::Journal.Util
@using SynesthesiaUtil
@rendermode InteractiveServer
@inject NavigationManager navigation

@code {
    public bool NavBarOpen;

    public readonly ImmutableList<Page> Pages = Lists.Immutable
    (
        new Page(Icons.HOME, "Home", Routes.HOME, true),
        new Page(Icons.JOURNAL, "Journal", Routes.JOURNAL, false),
        new Page(Icons.GRAPH, "Mental Health Tracker", Routes.MENTAL_HEALTH_TRACKER, false),
        new Page(Icons.EXPORT, "Data Export", Routes.EXPORT_DATA, false),
        new Page(Icons.SETTINGS, "Settings", Routes.SETTINGS, false)
    );

    private void newJournalEntry()
    {
    }

    public record Page(string Icon, string Name, string Route, bool Enabled);

}

<nav class="m l left surface-container-lowest @(NavBarOpen ? "max" : "")">
    <header>
        <button class="extra circle transparent" @onclick="() => NavBarOpen = !NavBarOpen">
            <i>@(NavBarOpen ? Icons.NAV_BAR_CLOSE : Icons.NAV_BAR_OPEN)</i>
        </button>

        <AuthorizeView>
            <Authorized>
                <a class="button extend square round" href="@Routes.JOURNAL_NEW_ENTRY">
                    <i>@(Icons.ADD)</i>
                    <span>New Day Entry</span>
                </a>
            </Authorized>
            <NotAuthorized>
                <button class="extend square round" disabled @onclick="newJournalEntry">
                    <i>@(Icons.ADD)</i>
                    <span>New Day Entry</span>
                </button>
            </NotAuthorized>
        </AuthorizeView>
    </header>

    @foreach (var page in Pages)
    {
        <a href="@(page.Route)" class="@(page.Enabled ? string.Empty : "disabled")">
            <i>@(page.Icon)</i>
            @(page.Name)
        </a>
    }
</nav>