@page "/"
@using System.Text.RegularExpressions
@using global::Journal.Database.Models
@using global::Journal.Util
@using Journal.Extensions
@using Synesthesia.Utils.Extensions
@using ListExtensions = Journal.Extensions.ListExtensions
@inject AuthenticationStateProvider authStateProvider
@rendermode InteractiveServer

@code
{
    private JournalUser? journalUser;
    private List<JournalEntry> entries = [];

    private bool hasGoogleHealthLinked;
    private bool googleHealthPopupVisible;
    private string healthConnectCode = string.Empty;
    private string? googleHealthPopupError;
    private bool googleHealthLoading;
    private AuthenticationState authenticationState = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        authenticationState = await authStateProvider.GetAuthenticationStateAsync();
        journalUser = JournalUser.DB_COLLECTION.FindOrNull(DatabaseUtils.GetDiscordId(authenticationState));

        hasGoogleHealthLinked = journalUser?.MobileAuthToken != null;
        updateListState();
    }

    private void updateListState()
    {
        if (journalUser == null) return;

        entries = journalUser.ResolveJournalEntries().SortByDate(ListExtensions.SortDirection.Descending).Take(25).ToList();
        StateHasChanged();
    }

    private void linkGoogleHealth()
    {
        googleHealthPopupError = null;
        if (journalUser == null)
        {
            googleHealthPopupError = "User is null";
            return;
        }

        if (healthConnectCode.IsEmpty())
        {
            googleHealthPopupError = "Code cannot be empty";
            return;
        }

        if (string.IsNullOrWhiteSpace(healthConnectCode) ||
            !Regex.IsMatch(healthConnectCode, @"^\d{3}-\d{3}$"))
        {
            googleHealthPopupError = "Code must be in the format 000-000";
            return;
        }

        googleHealthLoading = true;
        JournalUser.DB_COLLECTION.Insert(journalUser.DiscordId, journalUser with { MobileSyncCode = healthConnectCode });
        googleHealthPopupVisible = false;
    }

    private void unlinkHealthConnect()
    {
        if (journalUser == null)
        {
            googleHealthPopupError = "User does not exist";
            return;
        }

        googleHealthPopupError = null;

        JournalUser.DB_COLLECTION.Insert(journalUser.DiscordId, journalUser with
        {
            MobileAuthToken = null,
            MobileSyncCode = null,
        });
        hasGoogleHealthLinked = false;
    }
}

<PageTitle>Home</PageTitle>
<div class="height-3"></div>

@if (journalUser == null)
{
    <progress value="100" max="100" class="indeterminate"></progress>
}
else
{
    <article class="border padding">
        <div class="row wrap s-center-align m-left-align">

            <img class="circle large" src="@(journalUser.ProfileImageUrl)" alt="profile picture">

            <div class="max s12 m-fill">
                <h5>Hey @(journalUser.DisplayName)!</h5>
            </div>

            @if (!hasGoogleHealthLinked)
            {
                <button class="fill s12 m-width-auto" @onclick="() => { googleHealthPopupVisible = true; }">
                    <i>@Icons.HEALTH_HEART_PTS_GOOD</i>
                    <span>Link Google Health</span>
                </button>
            }
            else
            {
                <button class="fill s12 m-width-auto" @onclick="unlinkHealthConnect">
                    <i>@Icons.HEALTH_HEART_PTS_BAD</i>
                    <span>Unlink Google Health</span>
                </button>
            }

        </div>
    </article>

        @foreach (var entry in entries)
        {
            <JournalEntryCard OnEntryDeleted="updateListState" Entry="entry"></JournalEntryCard>
        }
}

<dialog class="@(googleHealthPopupVisible ? "active" : "")">
    <h5>Google Health</h5>
    <div>Enter the numbers you see in your app below</div>
    <div
        class="field label @(googleHealthPopupError != null ? "invalid" : "") @(googleHealthLoading ? "disabled" : "") border">
        <input type="text" @bind="healthConnectCode" @bind:event="oninput">
        <label>Code</label>
        @if (googleHealthPopupError != null)
        {
            <output class="invalid">@googleHealthPopupError</output>
        }
    </div>

    <nav class="right-align no-space">
        <button class="transparent link" @onclick="() => { googleHealthPopupVisible = false; }">Cancel</button>
        <button class="fill link" @onclick="linkGoogleHealth">Confirm</button>
    </nav>
</dialog>
